<?xml version="1.0" ?>
<config>
    <modules>
        <IGN_Siteblocks>
            <version>1.0.3</version>
        </IGN_Siteblocks>
    </modules>
    <global>
        <blocks>
            <siteblocks>
                <class>IGN_Siteblocks_Block</class>
            </siteblocks>
        </blocks>
        <models>
            <siteblocks> <!-- Как правило тут namespace_modulename или просто modulename -->
                <class>IGN_Siteblocks_Model</class>
                <resourceModel>siteblocks_resource</resourceModel>
            </siteblocks>
            <siteblocks_resource>
                <class>IGN_Siteblocks_Model_Resource</class>
                <entities>
                    <block> <!-- наименование модели -->
                        <table>ign_siteblock</table> <!-- название таблицы к которой будет "привязана" модель -->
                    </block>
                </entities>
            </siteblocks_resource>
        </models>
        <resources>
            <siteblocks_setup> <!-- именно в папку с таким названием нужно складывать install и upgrade скрипты -->
                <setup>
                    <module>IGN_Siteblocks</module>
                </setup>
            </siteblocks_setup>
        </resources>
        <helpers>
            <siteblocks>
                <class>IGN_Siteblocks_Helper</class>
            </siteblocks>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <siteblocks module="siteblocks">
                    <file>siteblocks.xml</file>
                </siteblocks>
            </updates>
        </layout>
        <routers>
            <siteblocks>
                <use>standard</use>
                <args>
                    <module>IGN_Siteblocks</module>
                    <frontName>siteblocks</frontName><!-- любое название, не конфликтуйте с существующими роутерами -->
                </args>
            </siteblocks>
        </routers>
        <translate>
            <modules>
                <IGN_Siteblocks>
                    <files>
                        <default>IGN_Siteblocks.csv</default>
                    </files>
                </IGN_Siteblocks>
            </modules>
        </translate>
        <events>
            <checkout_cart_product_add_after> <!-- название события говорит само за себя-->
                <observers>
                    <siteblocks>
                        <class>siteblocks/observer</class>
                        <method>checkout_cart_product_add_after</method> <!-- я предпочитаю использовать название метода по названию события -->
                        <type>model</type>
                    </siteblocks>
                </observers>
            </checkout_cart_product_add_after>
        </events>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <siteblocks module="siteblocks">
                    <file>siteblocks.xml</file> <!-- Це лейаут для адмінки у якому я добавив до сторінки едіта функціонал для візівіка -->
                </siteblocks>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ign_siteblocks before="Mage_Adminhtml">IGN_Siteblocks_Adminhtml</ign_siteblocks>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <defalut>
        <siteblocks>
            <settings>
                <enabled>1</enabled>
                <block_count>10</block_count>
            </settings>
        </siteblocks>
    </defalut>
    <crontab>
        <jobs>
            <siteblocks_clear_cache> <!-- Произвольное название задачи-->
                <schedule>
                    <cron_expr>*/1 * * * *</cron_expr> <!-- каждые 10 минут -->
                </schedule>
                <run>
                    <model>siteblocks/cron::siteblocks_clear_cache</model> <!-- модель и метод, который мы хотим запустить -->
                </run>
            </siteblocks_clear_cache>
        </jobs>
    </crontab>
</config>
