<?xml version="1.0"?>
<config>
    <modules>
        <IGN_Payment>
            <version>1.0.0</version>
        </IGN_Payment>
    </modules>
    <global>
        <models>
            <ignpayment>
                <class>IGN_Payment_Model</class>
            </ignpayment>
        </models>
        <resources>
            <payment_setup>
                <setup>
                    <module>IGN_Payment</module>
                </setup>
            </payment_setup>
        </resources>
        <blocks>
            <ignpayment>
                <class>IGN_Payment_Block</class>
            </ignpayment>
        </blocks>
        <helpers>
            <ignpayment>
                <class>IGN_Payment_Helper</class>
            </ignpayment>
        </helpers>
    </global>
    <frontend>
        <translate>
            <modules>
                <IGN_Payment>
                    <files>
                        <default>IGN_Payment.csv</default>
                    </files>
                </IGN_Payment>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <IGN_Payment>
                    <files>
                        <default>IGN_Payment.csv</default>
                    </files>
                </IGN_Payment>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <ignpayment>
                <active>1</active>
                <model>ignpayment/method</model> <!-- Самый важный момент в настройках -->
                <order_status>pending</order_status>
                <title>Secret Code</title>
                <allowspecific>0</allowspecific>
                <sort_order>1</sort_order>
                <group>offline</group>
            </ignpayment>
        </payment>
    </default>
</config>