
img{
	max-width: 100%;
}
body label input, body label textarea{
	font-weight: normal;
}
header{
	margin: 0 -15px;
}
header img{
	width: 100%;
}
body .container{
	background: #ffffff;
	/* padding:0; */
}
.forma {
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin: 5px 40px 5px 5px;
    padding: 20px;
}
.message{
	text-align: center;
	margin-top: 40px;
	font-weight: bold;
}
.ik{
	display: none;
}
.ik img{
	cursor: pointer;
}




















.main_border {border:1px solid #000000;}
p {font-family:Verdana; font-size:12px; margin:15px;}
.left {background-color:#f6f6f6; border-right:1px solid #424242;}
body {background-image:url(img/bg.jpg)}

p.title {
background-color: #2275AD;
color: #ffffff;
font-weight:bold;
margin:5px;
padding:5px;
}

#coolmenu{
border: 1px solid gray; /*—тиль рамки */
border-bottom-width: 0;
width: 93%; /*Ўирина меню */
background-color: #f6f6f6;  /*‘оновый цвет €чейки*/
margin:7px; /*Ўирина отступов*/
}

* html #coolmenu{ 
width: 150px;/*Ўирина меню дл€ Internet Explorer*/
}

#coolmenu a{
font: bold 13px Verdana; /*Ўрифт текста*/
padding: 2px; /*¬нутренний отсутп текста ссылки от краев €чейки*/
padding-left: 4px;/*¬нутренний отсутп текста ссылки от левого кра€ €чейки*/
display: block;
width: 100%; /*Ўирина €чейки*/
color: #000000;  /*÷вет текста*/
text-decoration: none; /*ѕодчеркивание у ссылок - нет*/
border-bottom: 1px solid gray;
}

html>body #coolmenu a{ 
width: auto;
}

#coolmenu a:hover{
background-color: #cccccc; /*‘оновый цвет €чейки при наведение курсора*/
color: #000000;  /*÷вет текста при наведении курсора*/
}

p.title2 {
background-color: #C4C92F;
color: #ffffff;
font-weight:bold;
margin:5px;
padding:5px;
}

.form1 {
font-family: Verdana;
font-size: 10px;
}

.form3 {
font-family: Verdana;
font-size: 11px;
}

.formm {
border: 1px solid #cccccc;
margin:5px;
}

.lesson {border:1px solid #cccccc; width:95%;}
.lesson_title {background-color:#f6f6f6;}

.lesson_name {font-weight:bold; margin-top:7px; margin-bottom:7px;}
.lesson_adds {font-size:11px; margin-top:7px; margin-bottom:7px; color:#424242;}

.view_title {font-size:16px; font-weight:bold; color:#cc0000; text-align:center;}
.view_date {font-size:11px; color:#424242; margin-top:7px; margin-bottom:7px; font-weight:bold;}

.bright{
	background: white;
}
.post_title{
    color: #ff0000;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.golovna{
	text-align: center;
	margin-top: 40px;
	font-size: 22px;
}
.podskazka{
	color: #a3a3a3;
    font-family: helvetica;
    font-size: 20px;
    margin: 22px 0;
}














footer{
    background: rgba(0, 0, 0, 0) url("../img/footer.jpg") no-repeat scroll 0 0 / cover ;
    height: 27px;
	margin: 0 -15px;
}