img{
	max-width: 100%;
}
html,
body{
 
}
body{
	background-image: url("../img/bg.jpg");
    background-repeat: repeat;
	color: #424242;
	font-size: 12px;
	font-family: Verdana;
}
p{
	color: #424242;
	font-size: 12px;
	font-family: Verdana;
}
.container{
	/* border: 1px solid black; */
	background-color: #f6f6f6;
   
}
header{
	margin: 0 -15px;
}
header img{
	width: 100%;
}
.row{
	
}
.menu {
	background-color: #f6f6f6;
	border-right: 1px solid #424242;
	
}
.content{
    background: #ffffff none repeat scroll 0 0;
    
}
.nav_title{
	border-left: 4px solid #cc0000;
	border-bottom: 1px solid #424242;
	text-align: center;
	padding-left: 10px;
	margin-top: 15px;
	font-weight: bold;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.left_links{
	padding-left: 3px;
}
.nav_link{
    color: #333333;
    font-size: 11px;
}
.nav_link:hover,.nav_link:focus, .nav_link:active{
    color: #333333;
}
.post__stati{
	border: 1px solid #cccccc;
	margin-bottom: 40px;
}
.top__stati{
	background-color: #f6f6f6;
	overflow: hidden;
	margin-bottom: 15px;
}
.post__stati p{
	padding: 0 15px;
}
.post__stati .post__title{
	padding-top: 15px;
	font-weight: bold;
}
.post__adds{
	color: #424242;
	font-size: 11px;
}
body .view{
	color: #666666;
	font-size: 11px;
}
.mini{
	border: 1px solid #000000;
	margin-right: 10px;
	margin-top: 2px;
}
.post_title{
	font-size: 16px;
	font-weight: bold;
	color: #ff0000;
	text-align: center;
}
.post_comment{
	font-size: 15px;
	font-weight: bold;
	color: #ff0000;
}
.post_comment_add{
	font-size: 11px;
}
.post_div{
    border-top: 1px solid gray;
    padding: 15px 0;
}
.search_t{
	font-size: 11px;
}
.search_b{
	border: 1px solid #cccccc;
	background: #f6f6f6;
	margin-top: 6px;
}
.ik{
	display: none;
}
.ik img{
	cursor: pointer;
}
.navigation{
	margin: 0 0 15px;
}
.nav {
	border-bottom: 1px solid #424242;
	border-right: 1px solid #424242;
	border-top: 3px solid #119f3a;
	background-color: #f6f6f6;
}
.nav  p{
	margin: 0;
}
.nav  p a{
    background: rgba(0, 0, 0, 0) url("../img/arrow.jpg") no-repeat scroll 15px center;
    color: #424242;
    display: block;
    font-weight: bold;
    height: 50px;
    line-height: 50px;
    padding-left: 40px;
}
.nav  a:hover,.nav  a:active,.nav  a:focus{
	color: #424242;
}
.active{
	border-top: 3px solid #cc0000;
}

.point{
	background-image: url(../img/point.jpg);
	background-position: bottom;
	background-repeat: repeat-x;
	padding-bottom: 5px;
}
.pstrnav {
	padding: 0px 10px 20px 15px;
	color:#424242;
}

.pstrnav a{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif; font-size:11px;color:#245E93; text-decoration:underline;
}
.sinput{
	width: 190px;
	height: 25px;
	background-color: #f6f6f6;
	border: 1px solid gray;
}
.sbutton{
	width: 190px;
	height: 25px;
	background-color: #cc0000;
	color: #ffffff;
}
.post_secret{
	font-weight: bold;
	margin-top: 7px;
	margin-bottom: 7px;
}
.post_secret a{
	color: #666666;
	text-decoration: none;
}
.comments{
	font-family: Verdana;
	font-size: 11px;
	color: #777777;
}
.pvote{
	border: 1px solid gray;
	background-color: #f6f6f6;
	padding: 10px;
}
.sub_vote{
	/* border: 1px solid gray;
	background-color: #f6f6f6; */
	margin-left: 10px;
}
.opros{
	display: none;
}
.pvote{
	
}
.pvote input{
	
}
.pvote label{
	margin: 0 10px; 
}


























footer{
    background: rgba(0, 0, 0, 0) url("../img/footer.jpg") no-repeat scroll 0 0 / cover ;
    height: 27px;
	margin: 0 -15px;
}