BODY {
BORDER-TOP-WIDTH: 0px;
BORDER-LEFT-WIDTH: 0px;
BORDER-BOTTOM-WIDTH: 0px;
FONT-FAMILY: verdana,arial,helvetica;
FONT-SIZE: 12px;
BACKGROUND-COLOR: #ffffff;
BORDER-RIGHT-WIDTH: 0px;
scrollbar-3dlight-color: White;
scrollbar-arrow-color: #FA9200;
scrollbar-base-color: White;
scrollbar-darkshadow-color: White;
scrollbar-face-color: White;
scrollbar-highlight-color: #FA9200;
scrollbar-shadow-color: #FA9200;
scrollbar-track-color: White;
left: 0px;
top: 0px;
}

TD {
	FONT-SIZE: 11px;
	font-family: verdana;
}
IMG {
	BORDER:0px;
}

A.gb:link {COLOR:#CC0000; TEXT-DECORATION:none}
A.gb:visited {COLOR:#CC0000; TEXT-DECORATION:none}
A.gb:active {COLOR:#666666; TEXT-DECORATION:none}
A.gb:hover {COLOR:#666666; TEXT-DECORATION:underline}


H3 {font-weight : bold; font-size : 18px;}
input, textarea {font-family: Verdana; font-size: 12px; text-decoration: none; color: #000000; cursor: default; background-color: #FFFFFF; border-style: solid; border-width: 1px; border-color: #000000;}
