@media screen and (max-width:768px) { 

	.container{
	/* border: 1px solid #7FD4F5; */
}
.ik{
	text-align: right;
	display: block;
}
.red{
    bottom: 0;
    overflow: auto;
    position: fixed;
    top: 0;
    width: 210px;
    z-index: 1;
	left: -210px;
	background: white;
}
.forma {
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin: 5px 15px 0;
    padding: 20px;
}
.forma textarea{
	width: 100%;
}
.golovna {
    font-size: 18px;
}
.podskazka{
    font-size: 14px;
    font-weight: bold;
	text-align: center;
}

}