<html>
<head>
<title>Advanced Poll $pollvars[poll_version]</title>
<meta http-equiv="Content-Type" content="text/html; charset=$lang[charset]">
<style type="text/css">
<!--
.td1 {  font-family: "MS Sans Serif"; font-size: 10pt}
.td2 {  font-family: "MS Sans Serif"; font-size: 9pt}
.license {  height: 220px; width: 650px; font-family: "MS Sans Serif"; font-size: 9pt;; background-color: #E9E9E9}
-->
</style>
</head>
<body bgcolor="#3A6EA5">
<table border="1" cellspacing="0" cellpadding="0" align="center" width="750">
  <tr bgcolor="#C6C3C6" valign="top" class="code2">
    <td>
      <table width="750" border="0" cellspacing="0" cellpadding="1" align="center">
        <tr bgcolor="#400080">
          <td height="20" class="td2" bgcolor="#000084"><b><font color="#FFFFFF">
            &nbsp;Advanced Poll $pollvars[poll_version]</font></b></td>
          <td height="20" align="right" bgcolor="#000084">
          <img src="$pollvars[base_gif]/min.gif" width="16" height="14"><img src="$pollvars[base_gif]/max.gif" width="16" height="14">&nbsp;<a href="admin_logout.php?session=$auth[session]&amp;uid=$auth[uid]"><img src="$pollvars[base_gif]/cross.gif" width="16" height="14" border="0" alt="$lang[Logout]"></a></td>
        </tr>
        <tr valign="top">
          <td colspan="2">
            <table border="0" cellspacing="0" cellpadding="1">
              <tr>
                <td colspan="7"><img src="$pollvars[base_gif]/top_line.gif" width="745" height="3"></td>
              </tr>
              <tr>
                <td align="center" rowspan="2" width="5"><img src="$pollvars[base_gif]/v_line.gif" width="5" height="50"></td>
                <td align="center" width="120"><a href="index.php?session=$auth[session]&amp;uid=$auth[uid]&amp;action=show"><img src="$pollvars[base_gif]/index.gif" width="32" height="32" border="0" alt="$lang[IndexTitle]"></a></td>
                <td align="center" width="131"><a href="index.php?session=$auth[session]&amp;uid=$auth[uid]&amp;action=new"><img src="$pollvars[base_gif]/new.gif" width="32" height="32" border="0" alt="$lang[NewTitle]"></a></td>
                <td align="center" width="153"><a href="admin_settings.php?session=$auth[session]&amp;uid=$auth[uid]"><img src="$pollvars[base_gif]/settings.gif" width="32" height="32" border="0" alt="$lang[SetTitle]"></a></td>
                <td align="center" width="121"><a href="admin_templates.php?session=$auth[session]&amp;uid=$auth[uid]"><img src="$pollvars[base_gif]/templates.gif" width="32" height="32" border="0" alt="$lang[Templates]"></a></td>
                <td align="center" width="127"><a href="admin_password.php?session=$auth[session]&amp;uid=$auth[uid]"><img src="$pollvars[base_gif]/password.gif" width="32" height="32" border="0" alt="$lang[PwdTitle]"></a></td>
                <td align="center" width="89"><a href="admin_help.php?session=$auth[session]&amp;uid=$auth[uid]"><img src="$pollvars[base_gif]/howto.gif" width="32" height="32" border="0" alt="$lang[Help]"></a></td>
              </tr>
              <tr align="center" valign="top">
                <td width="120" class="td2">$lang[IndexTitle]</td>
                <td width="131" class="td2">$lang[NewTitle]</td>
                <td width="153" class="td2">$lang[SetTitle]</td>
                <td width="121" class="td2">$lang[Templates]</td>
                <td width="127" class="td2">$lang[PwdTitle]</td>
                <td width="89" class="td2">$lang[Help]</td>
              </tr>
              <tr align="left">
                <td colspan="7"><img src="$pollvars[base_gif]/top_line.gif" width="745" height="3"></td>
              </tr>
            </table>
            <form method="post" name="license">
              <table border="0" cellspacing="0" cellpadding="3" align="center">
                <tr>
                  <td class="td1"><img src="$pollvars[base_gif]/h_line.gif" width="15" height="18">
                    $lang[License] <img src="$pollvars[base_gif]/h_line.gif" width="500" height="18"></td>
                </tr>
                <tr class="td2">
                  <td class="td2">$lang[ScrollTxt]</td>
                </tr>
                <tr>
                  <td><font face="MS sans serif" size="1">
                    <textarea name="textfield" cols="70" rows="16" wrap="VIRTUAL" class="license">
You should carefully read the following terms and conditions before using this software. Your use of this software indicates your acceptance of this license agreement. If you do not agree to all the terms of this agreement, do not use this software.

1. This script may be used and modified free of charge for personal, academic and non-profit use.
Commercial use must register the script for a one time fee of $15 US or 15 EUR.
--> http://www.proxy2.de/register
Registered users receive support, free upgrades and also do not have to display the text link. 

2. You may copy and distribute verbatim copies of the Program's source code as 
you receive it, in any medium, provided that you conspicuously and appropriately 
publish on each copy an appropriate copyright notice. Keep intact all the notices
that refer to this License and give any other recipients of the Program a copy of this License 
along with the Program.

3. Selling the code for this program, or a program derived from Advanced Poll, without 
prior written consent is expressly forbidden.

THIS SOFTWARE AND THE ACCOMPANYING FILES ARE PROVIDED "AS IS" 
WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING 
BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY AND 
FITNESS FOR A PARTICULAR PURPOSE. THE AUTHOR DOES NOT WARRANT THAT THE 
FUNCTIONS CONTAINED IN THE SOFTWARE WILL MEET YOUR REQUIREMENTS, OR THAT 
THE OPERATION OF THE SOFTWARE WILL BE UNINTERRUPTED OR ERROR-FREE, OR THAT 
ANY DEFECTS DISCOVERED IN THE SOFTWARE WILL BE CORRECTED. FURTHERMORE, THE 
AUTHOR DOES NOT WARRANT OR MAKE ANY REPRESENTATIONS REGARDING THE USE OR 
THE RESULTS OF THE USE OF THE SOFTWARE IN TERMS OF ITS CORRECTNESS, ACCURACY, 
RELIABILITY, OR OTHERWISE. YOU ASSUME ALL RISKS IN USING THE SOFTWARE. 
NO ORAL OR WRITTEN INFORMATION OR ADVICE GIVEN BY THE AUTHOR OR ANY OF THEIR 
AUTHORIZED REPRESENTATIVES SHALL CREATE A WARRANTY OR IN ANY WAY INCREASE THE 
SCOPE OF THIS WARRANTY. IN NO EVENT SHALL THE AUTHOR BE LIABLE FOR ANY DIRECT, 
INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES.
</textarea>
                    </font></td>
                </tr>
              </table>
            </form>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<br>
<br>
</body>
</html>
