<?xml version="1.0"?>
<config>    
    <modules>
        <Alanstormdotcom_Complexworld>
            <version>0.1.0</version>
        </Alanstormdotcom_Complexworld>
    </modules>

    <frontend>
        <routers>
            <complexworld>
                <use>standard</use>
                <args>
                    <module>Alanstormdotcom_Complexworld</module>
                    <frontName>complexworld</frontName>
                </args>
            </complexworld>
        </routers>
    </frontend>
</config>
