<html>
<head>
<title>Advanced Poll $pollvars[poll_version]</title>
<meta http-equiv="Content-Type" content="text/html; charset=$lang[charset]">
<style type="text/css">
<!--
.td1 {  font-family: "MS Sans Serif"; font-size: 10pt}
.td2 {  font-family: "MS Sans Serif"; font-size: 9pt}
.input {  font-family: "MS Sans Serif"; font-size: 9pt; height: 20px; width: 350px}
.exp_input {  font-family: "MS Sans Serif"; font-size: 9pt; height: 20px; width: 25px}
.button {  font-family: Arial, Helvetica, sans-serif; font-size: 9pt}
.input2 {  font-family: "MS Sans Serif"; font-size: 9pt; height: 20px; width: 80px}
.select {  font-family: Arial, Helvetica, sans-serif; font-size: 9pt}
a:hover {  color: #FF0033; text-decoration: underline}
-->
</style>
<script language="JavaScript">
<!--
blank = new Image(); blank.src = "$pollvars[base_gif]/blank.gif";
$java_script

function ChangeBar(sel,img) {
  eval("document.bar"+img+".src="+sel+".src");
}

function ResetPoll() {
  for (i=4; i<document.forms[0].elements.length-6; i+=3) {
   document.forms[0].elements[i].value = '0';
  }
}

function CheckDays() {
  if(!(document.poll.exp_time.value >= 0)) {
    alert("$lang[SetEmpty]");
    document.poll.exp_time.focus();
    return false;
  }
}
//-->
</script>
</head>
<body bgcolor="#3A6EA5" link="#000000" vlink="#000000">
<table border="1" cellspacing="0" cellpadding="0" align="center" width="750">
  <tr bgcolor="#C6C3C6" valign="top">
    <td>
      <table width="750" border="0" cellspacing="0" cellpadding="1" align="center">
        <tr bgcolor="#400080">
          <td height="20" class="td2" bgcolor="#000084"><b><font color="#FFFFFF">
            &nbsp;Advanced Poll $pollvars[poll_version]</font></b></td>
          <td height="20" align="right" bgcolor="#000084">
          <img src="$pollvars[base_gif]/min.gif" width="16" height="14"><img src="$pollvars[base_gif]/max.gif" width="16" height="14">&nbsp;<a href="admin_logout.php?session=$auth[session]&amp;uid=$auth[uid]"><img src="$pollvars[base_gif]/cross.gif" width="16" height="14" border="0" alt="$lang[Logout]"></a></td>
        </tr>
        <tr valign="top">
          <td colspan="2">
            <table border="0" cellspacing="0" cellpadding="1">
              <tr>
                <td colspan="7"><img src="$pollvars[base_gif]/top_line.gif" width="745" height="3"></td>
              </tr>
              <tr>
                <td align="center" rowspan="2" width="5"><img src="$pollvars[base_gif]/v_line.gif" width="5" height="50"></td>
                <td align="center" width="120"><a href="index.php?session=$auth[session]&amp;uid=$auth[uid]&amp;action=show"><img src="$pollvars[base_gif]/index.gif" width="32" height="32" border="0" alt="$lang[IndexTitle]"></a></td>
                <td align="center" width="131"><a href="index.php?session=$auth[session]&amp;uid=$auth[uid]&amp;action=new"><img src="$pollvars[base_gif]/new.gif" width="32" height="32" border="0" alt="$lang[NewTitle]"></a></td>
                <td align="center" width="153"><a href="admin_settings.php?session=$auth[session]&amp;uid=$auth[uid]"><img src="$pollvars[base_gif]/settings.gif" width="32" height="32" border="0" alt="$lang[SetTitle]"></a></td>
                <td align="center" width="121"><a href="admin_templates.php?session=$auth[session]&amp;uid=$auth[uid]"><img src="$pollvars[base_gif]/templates.gif" width="32" height="32" border="0" alt="$lang[Templates]"></a></td>
                <td align="center" width="127"><a href="admin_password.php?session=$auth[session]&amp;uid=$auth[uid]"><img src="$pollvars[base_gif]/password.gif" width="32" height="32" border="0" alt="$lang[PwdTitle]"></a></td>
                <td align="center" width="89"><a href="admin_help.php?session=$auth[session]&amp;uid=$auth[uid]"><img src="$pollvars[base_gif]/howto.gif" width="32" height="32" border="0" alt="$lang[Help]"></a></td>
              </tr>
              <tr align="center" valign="top">
                <td width="120" class="td2">$lang[IndexTitle]</td>
                <td width="131" class="td2">$lang[NewTitle]</td>
                <td width="153" class="td2">$lang[SetTitle]</td>
                <td width="121" class="td2">$lang[Templates]</td>
                <td width="127" class="td2">$lang[PwdTitle]</td>
                <td width="89" class="td2">$lang[Help]</td>
              </tr>
              <tr align="left">
                <td colspan="7"><img src="$pollvars[base_gif]/top_line.gif" width="745" height="3"></td>
              </tr>
            </table>
            <form method="post" action="$pollvars[SELF]" name="poll">
              <table border="0" cellspacing="0" cellpadding="2" align="center" width="90%">
                <tr>
                  <td colspan="5" class="td1" height="30"><img src="$pollvars[base_gif]/h_line.gif" width="15" height="18">&nbsp;
                    $message&nbsp;<img src="$pollvars[base_gif]/h_line.gif" width="380" height="18">
                  </td>
                </tr>
                <tr>
                  <td width="20%" class="td1">$lang[IndexQuest]</td>
                  <td width="49%">
                    <input type="text" name="question" class="input" size="35" value="$question">
                  </td>
                  <td width="11%" class="td2">
                    <select name="status" class="select">
                      <option value="0" $status_0>$lang[EditOff]</option>
                      <option value="1" $status_1>$lang[EditOn]</option>
                      <option value="2" $status_2>$lang[EditHide]</option>
                    </select>
                  </td>
                  <td colspan="2" class="td2">
                    <select name="logging" class="select">
                      <option value="0" $logging_0>$lang[EditLgOff]</option>
                      <option value="1" $logging_1>$lang[EditLgOn]</option>
                    </select>
                  </td>
                </tr>

$poll_options

                <tr>
                  <td width="20%">&nbsp;</td>
                  <td colspan="4" height="35" class="td2" valign="top">$lang[IndexExp]: <input type="text" name="exp_time" class="exp_input" size="3" value="$expiration"> $lang[IndexDays]                
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; $lang[IndexNever] <input type="checkbox" name="expire" value="0" $poll_expire>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="$pollvars[base_gif]/point2.gif" width="9" height="9">$lang[EditDel]
                </tr>
                <tr>
                  <td width="20%">&nbsp;</td>
                  <td colspan="4" height="35" class="td2" valign="top">
                    <img src="$pollvars[base_gif]/h_line.gif" width="30" height="18">
                    <a href="$pollvars[SELF]?session=$auth[session]&uid=$auth[uid]&amp;action=extend&amp;poll_id=$poll_id">$lang[EditAdd]</a> <img src="$pollvars[base_gif]/h_line.gif" width="50" height="18">
                    <a href="javascript:ResetPoll()">$lang[EditReset]</a> <img src="$pollvars[base_gif]/h_line.gif" width="30" height="18">
                    &nbsp;&nbsp;&nbsp;$lang[EditCom]&nbsp;<input type="checkbox" name="comments" value="1" $poll_comments></td>
                </tr>
                <tr>
                  <td width="20%">&nbsp;</td>
                  <td colspan="4">
                    <input type="submit" value="$lang[EditSave]" class="button" onclick="return CheckDays()">
                    <input type="reset" value="$lang[FormUndo]" class="button">
                    <input type="hidden" name="action" value="save">
                    <input type="hidden" name="timestamp" value="$timestamp">
                    <input type="hidden" name="poll_id" value="$poll_id">
                    <input type="hidden" name="session" value="$auth[session]">
                    <input type="hidden" name="uid" value="$auth[uid]">
                  </td>
                </tr>
              </table>
            </form>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<br>
<br>
</body>
</html>
