   <tr>
     <td width="200" bgcolor="#CCCCCC" valign="top"> 
       <table width="200" border="0" cellspacing="0" cellpadding="3">
         <tr> 
           <td><img src="$pollvars[base_gif]/host.gif" width="16" height="15">
               <img src="$image" width="16" height="16" alt="{browser}">
                 $email    
          </td>
         </tr>
         <tr><td class="td2"><font color="#990033">{name}</font></td></tr>
         <tr><td class="td2">{host}</td></tr>
       </table>
     </td>
     <td width="457" class="td2" bgcolor="#E6E6E6" valign="top"><img src="$pollvars[base_gif]/post.gif" width="9" height="9">$lang[ComPost]: $date 
       <hr size="1" noshade>{message}
     </td>
     <td width="66" class="td2" align="center"><a href="javascript:del_entry({com_id})">$lang[IndexDel]</a></td>
   </tr>
