<?xml version="1.0"?>
<config>
    <tabs>
        <ign translate="label" module="siteblocks"> <!-- Добавим свою вкладку в меню слева-->
            <label>IGN</label>
            <sort_order>2</sort_order>
        </ign>
    </tabs>
    <sections>
        <siteblocks module="siteblocks" translate="label">
            <label>Siteblocks</label>
            <tab>ign</tab> <!-- В какой вкладке вывести наши настройки -->
            <frontend>text</frontend>
            <sort_order>1</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <settings module="siteblocks" translate="label">
                    <label>Settings</label>
                    <expanded>1</expanded>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_Website>1</show_in_Website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label comment" module="siteblocks">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type> <!-- существующие типы можем посмотреть в папке lib/Varien/Data/Form/Element -->
                            <source_model>siteblocks/source_status</source_model> <!-- используется для вывода опций -->
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_Website>1</show_in_Website>
                            <show_in_store>1</show_in_store>
                            <comment>Is module enabled</comment>
                        </enabled>
                        <blocks_count module="siteblocks">
                            <label>Blocks on page</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_Website>1</show_in_Website>
                            <show_in_store>1</show_in_store>
                            <depends><enabled>1</enabled></depends> <!-- Так можно указать зависимость от значения другого поля -->
                        </blocks_count>
                        <raw_text module="siteblocks">
                            <label>Raw text</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_Website>1</show_in_Website>
                            <show_in_store>1</show_in_store>
                        </raw_text>
                    </fields>
                </settings>
            </groups>
        </siteblocks>
    </sections>
</config>